.card {
  margin: 10px;
  height: 11rem;
  width: 8rem;
  background-color: #8a2be2bb;
  border-radius: 1rem;
  display: flex;
  flex-direction:column-reverse;
  align-items: center;
  box-shadow: 3px 3px 7px rgba(51, 51, 51, 0.384);
}
